<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gcc.whiletrue.pingit">

    <uses-permission android:name="android.permission.INTERNET" /><!--Fabric-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--Parse-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--Leak Canary-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c088dbf4c64470af6618d1f5d69d675e0ea4287e" />
        <!-- PARSE -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="kddcodGlyJ6DmGI7FihXt8BsXyOTS09Dgpj8UA49" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="FDsmFapu4C9HFGOolnYf1yACuFGGLvHUTQs7f8EI" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/titleActivityHome"
            android:parentActivityName=".StartupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartupActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/titleActivitySettings"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:parentActivityName="edu.gcc.whiletrue.pingit.HomeActivity">
        </activity>
    </application>

</manifest>
