<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gcc.whiletrue.pingit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="edu.gcc.whiletrue.pingit.MainApplication">
        <activity
            android:name="edu.gcc.whiletrue.pingit.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c088dbf4c64470af6618d1f5d69d675e0ea4287e" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
