<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="edu.gcc.whiletrue.pingit">

    <uses-permission android:name="android.permission.INTERNET" /><!--Fabric-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--Parse-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--Leak Canary-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!--sendbird-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature"
        android:name="edu.gcc.whiletrue.pingit.permission.C2D_MESSAGE" />
    <uses-permission android:name="edu.gcc.whiletrue.pingit.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c088dbf4c64470af6618d1f5d69d675e0ea4287e" />
        <!-- PARSE -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="kddcodGlyJ6DmGI7FihXt8BsXyOTS09Dgpj8UA49" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="FDsmFapu4C9HFGOolnYf1yACuFGGLvHUTQs7f8EI" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/titleActivityHome"
            android:parentActivityName=".StartupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/titleActivitySettings"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:parentActivityName="edu.gcc.whiletrue.pingit.HomeActivity">
        </activity>


        <activity
            android:name=".SendBirdChatActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            >
        </activity>
        <activity
            android:name=".SendBirdMessagingActivity"
            android:label="SendBird"
            android:configChanges="orientation|screenSize"
            >
        </activity>

        <!-- Required to run Sample project
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="edu.gcc.whiletrue.pingit" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
